

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3 Data Visualization</title>
    <meta name="description" content="Q3 project" />
    <meta name="keywords" content="website template, layout, css3, transition, effect, split, dual, two sides, portfolio" />
    <meta name="author" content="Codrops" />
    <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/twitch.css" />
    <script src="/js/modernizr.custom.js"></script>



    <!-- Twitch scripts  -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/twitch/cookies.js"></script>
    <!--[IF IE]><!-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <!--<![endif]-->
    <script src="//cdn.tmijs.org/js/latest/1.x/tmi.min.js"></script>
    <script src="/twitch/twitch.js" charset="utf-8"></script>
    <script src="/twitch/skimmer.js" charset="utf-8"></script>





    <!-- Twitter scripts -->


</head>

<body>
    <div class="container">
        <div id="splitlayout" class="splitlayout open-right">
            <div class="intro">
                <div class="side side-left">
                    <header class="codropsheader clearfix">

                        <h1>GREATNESS</h1>

                      </header>


                        <div class="intro-content">
                            <div class="profile1">
                              <a class="twitch-connect" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=ipr78n41sqd6fqbacj2gykwv5lxpnd&redirect_uri=http://localhost:8000/twitch/response&scope=chat_login"><img src="/img/twitch.png" alt="profile1"></div>
                            <h1><span></span>
                                <span>Chat Visualization</span></h1>
                                </a>
                        </div>
                        <div class="overlay"></div>
                </div>
                <div class="side side-right">
                    <div class="intro-content">
                        <div class="profile2"><img src="/img/twitb.png" alt="profile2"></div>
                        <h1><span></span>
                          <span>Tweet Visualization</span></h1>

                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
            <!-- /intro -->
            <div class="page page-right">
                <div class="page-inner">


                        <h2>Twitter Tweet Visualization</h2>
                        <input type="text" placeholder="Enter #keyword or @username here" style="width: 40vw; height:55px;" class="formInfo"></input>
                        <div class="social-share tw">
                          <span class="tw-inner"></span>
                            <a class="cta tw" href="#">Search</a>
                        </div>


                    <div class="row">

                        <div class="row">
                          <div class="col-sm-4 td3">

                            <iframe  src="https://s-media-cache-ak0.pinimg.com/originals/d1/a0/b5/d1a0b54897eadb9a7c0eea0cde0e746b.png" height="390" width="420" frameborder="0" scrolling="no" allowfullscreen="true" style="position:relative;">
                                </iframe>

                            </div>
                            <div class="col-sm-4 td32"><iframe src="https://s-media-cache-ak0.pinimg.com/originals/d1/a0/b5/d1a0b54897eadb9a7c0eea0cde0e746b.png" height="390" width="420" frameborder="0" scrolling="no" allowfullscreen="true" style="position:relative;">
                            </iframe>
                                </div>
                          </div>

                      </div>

                    </div>

              </div>
                <!-- /page-inner -->
            </div>
            <!-- /page-right -->
            <div class="page page-left">
                <div class="page-inner">
                    <h2><center>Twitch Chat Visualization</center></h2>
                    <input type="text" placeholder="Enter channel url/name here" frameborder="10" style="width: 40vw; height:50px; position:relative; left: -37%; top:-40%;" class="formInfo"></input>
                    <input  type="submit" style="width: 5vw; height:50px; position:relative; left: -37%; top: 30%;" framborder="20" ></input>

                    <div class="flexme">
                        <iframe id="stream" src="http://player.twitch.tv/?channel=metatronius" height="450" width="900" frameborder="10" scrolling="no" allowfullscreen="true" style="position:relative; top: 10%; left: -15.7%;">
                            </iframe>
                        <iframe id="chat" frameborder="10" scrolling="no" id="chat_embed" src="http://www.twitch.tv/metatronius/chat" height="450" width="300" style="position: relative; left: -15.6%; top: 10%;" frameborder="3">
                            </iframe>
                    </div>

                    <iframe src="https://s-media-cache-ak0.pinimg.com/originals/d1/a0/b5/d1a0b54897eadb9a7c0eea0cde0e746b.png" height="400" width="450" frameborder="0" scrolling="no" allowfullscreen="true" style="position:relative; left:-69.28%;">
                        </iframe>


                </div>
                <!-- /page-inner -->
            </div>
            <!-- /page-left -->
            <a href="/views/landing" class="back back-right" title="back to intro">&rarr;</a>
            <a href="/views/landing" class="back back-left" title="back to intro">&larr;</a>
        </div>
        <!-- /splitlayout -->
    </div>
    <!-- /container -->
    <script src="/js/classie.js"></script>
    <script src="/js/cbpSplitLayout.js"></script>


</body>

</html>
