<div class="flexme">
    <iframe src="http://player.twitch.tv/?channel=lirik" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true">
        </iframe>
    <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/lirik/chat" height="400" width="400">
        </iframe>
</div>
<a class="twitch-connect" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=ipr78n41sqd6fqbacj2gykwv5lxpnd&redirect_uri=http://localhost:8000/twitch/response&scope=chat_login"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png"/></a>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="./js/twitch.js" charset="utf-8"></script>
