<div class="flexme">
    <iframe id="stream" src="http://player.twitch.tv/?channel=metatronius" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true">
        </iframe>
    <iframe id="chat" frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/metatronius/chat" height="400" width="400">
        </iframe>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="/twitch/cookies.js"></script>
<!--[IF IE]><!-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<!--<![endif]-->
<script src="//cdn.tmijs.org/js/latest/1.x/tmi.min.js"></script>
<script src="/js/twitch.js" charset="utf-8"></script>
<script src="/twitch/skimmer.js" charset="utf-8"></script>
