<div class="flexme">
    <iframe src="http://player.twitch.tv/?channel=metatronius" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true">
        </iframe>
    <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/metatronius/chat" height="400" width="400">
        </iframe>
</div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="/twitch/cookies.js"></script>
<script src="/js/twitch.js" charset="utf-8"></script>
