<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q3 Data Visualization</title>
    <meta name="description" content="Q3 project" />
    <meta name="keywords" content="website template, layout, css3, transition, effect, split, dual, two sides, portfolio" />
    <meta name="author" content="Codrops" />
    <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/twitch.css" />
    <script src="/js/modernizr.custom.js"></script>

    <!-- Twitch scripts  -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/twitch/cookies.js"></script>
    <!--[IF IE]><!-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <!--<![endif]-->
    <script src="//cdn.tmijs.org/js/latest/1.x/tmi.min.js"></script>
    <script src="/twitch/twitch.js" charset="utf-8"></script>
    <script src="/twitch/skimmer.js" charset="utf-8"></script>
    <script src="/twitch/chat.js" charset="utf-8"></script>

    <!-- Twitter scripts -->


</head>

<body>
    <div class="container">
        <div id="splitlayout" class="splitlayout open-left">
            <div class="intro">
                <div class="side side-left">
                    <header class="codropsheader clearfix">

                        <h1><center>Data Viz</center></h1>
                      </header>


                        <div class="intro-content">
                            <div class="profile1"><img src="/img/twitch.png" alt="profile1"></div>
                            <h1><span>Twitch </span><span>Data Visualization</span></h1>
                        </div>
                        <div class="overlay"></div>
                </div>
                <div class="side side-right">
                    <div class="intro-content">
                        <div class="profile2"><img src="/img/twitb.png" alt="profile2"></div>
                        <h1><span>Twitter </span><span>Data Visualization</span></h1>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
            <!-- /intro -->
            <div class="page page-right">
                <div class="page-inner">
                    <section>
                        <h2>Twitter</h2>
                        <p>search bar will be here</p>
                    </section>
                    <twitter></twitter>

                </div>
                <!-- /page-inner -->
            </div>
            <!-- /page-right -->
            <div class="page page-left">
                <div class="page-inner">
                    <h3>Twitch Data-visualization</h3>
                    <!-- <a class="twitch-connect" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=ipr78n41sqd6fqbacj2gykwv5lxpnd&redirect_uri=http://localhost:8000/twitch/response&scope=chat_login"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" /></a> -->
                    <section>
                <div>

                              <div class="input-group container" align="center">
                               <span class="input-group-addon" id="basic-addon3">Paste Channel Name Here:</span>
                               <input type="text" class="form-control pad" id="basic-url" style="width:40%" aria-describedby="basic-addon3">
                              </div>
                          </div>
                        <div class="flexme">
                            <iframe id="stream" src="" height="400" width="750" frameborder="0" scrolling="no" allowfullscreen="true">
                                </iframe>
                            <iframe id="chat" frameborder="0" scrolling="no" id="chat_embed" src="" height="400" width="300">
                                </iframe>
                        </div>
                    </section>
                    <section>


                        <iframe src="https://s-media-cache-ak0.pinimg.com/originals/d1/a0/b5/d1a0b54897eadb9a7c0eea0cde0e746b.png" height="400" width="450" frameborder="0" scrolling="no" allowfullscreen="true">
                            </iframe>

                    <div class="data-viz"> <img src="https://www.nodebox.net/node/documentation/using/data-visualization-metallicd.png" alt="" height="400" width="300">

                    </div>
                    </section>




                </div>
                <!-- /page-inner -->
            </div>
            <!-- /page-left -->
            <a href="#" class="back back-right" title="back to intro">&rarr;</a>
            <a href="#" class="back back-left" title="back to intro">&larr;</a>
        </div>
        <!-- /splitlayout -->
    </div>
    <!-- /container -->
    <script src="/js/classie.js"></script>
    <script src="/js/cbpSplitLayout.js"></script>


</body>

</html>
